*{
	margin:auto;
}
#calendario{
	border :4px double black;
	background-color:#fffafa;
	max-width: 370px; 
    text-align: center;
  
}
#busca{
	float: left;
	font: bold 12pt arial;
    padding: 0.5em 0.1em; 
}

#anterior{
	float: left;
	font: bold 12pt arial;
    padding: 0.5em 0.1em; 
    cursor: pointer ; 
}
#posterior{
	float:right;
	font: bold 12pt arial;
    padding: 0.5em 0.1em; 
    cursor: pointer ; 
}
