body {
	position: absolute;
    top: 10%;
    bottom: 50%;
    left: 20%;
    right: 20%;

    margin: auto;
    
    background-color: #C0C0C0;

}

#contenido {

    border: solid 5px;
    box-shadow: 0 4px 8px 0 #0844a4, 0 6px 20px 0 #0844a4;
    
    margin-bottom: 20%;
    
	  padding-top: 3%;
	  padding-bottom: 10%;
	  padding-right: 5%;
	  padding-left: 5%;
	  
	  background-color: #8cb3d9;
}

h2 {

	font-family: Times New Roman, Times;
	font-weight: bold;
	font-size: 48px;
	color: #0844a4;
	
}

#contactodatos {
	
	font-family: Arial, sans-serif;
	font-size: 24px;
	margin-top: 20%;
}


.contactofoto {
	
	float: left;
	margin-right: 40px;

}

.datos {
	
	font-weight: bold;

}

.datosintroducidos {
	
	font-weight: normal;
	text-align: right;
	margin-left: 5%;
}

#buttons {

	padding-bottom: 20%;

}

