body {
	position: absolute;
    top: 10%;
    bottom: 50%;
    left: 20%;
    right: 20%;

    margin: auto;
    
    background-color: #C0C0C0;

}

#general {

    border: solid 5px;
    box-shadow: 0 4px 8px 0 #0844a4, 0 6px 20px 0 #0844a4;
    
    margin-bottom: 20%;
    
	  padding-top: 3%;
	  padding-bottom: 10%;
	  padding-right: 20px;
	  padding-left: 20px;
	  
	  background-color: #8cb3d9;
}

#lista {

	margin-bottom: 20px;
	margin-top: 20px;

}

.eliminar {
	
	border-radius: 8px;
	color: black;
	padding: 10px 10px;
	margin-right: 10px;
	text-align: center;
	background-color: #B71C1C;

}

.cancelar {

	border-radius: 8px;
	color: black;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: center;
	background-color: #FFA834;
	

}