h2 {

	font-family: Times New Roman, Times;
	font-weight: bold;
	font-size: 50px;
	color: #0844a4;
	
}
body{
	margin-top:3%;
	margin-left:20%;
	margin-right:20%;
}
p {
	font-family: Arial, sans-serif;
	font-size: 30px;
}

