body {

	background-image: url("../img/background.jpg");
	background-size: 1920px 1080px ;
}

#login {

    position: absolute;
    top: 0%;
    bottom: 0%;
    left:0%;
    right: 0%;

    margin: auto;
	
}

form {
	
	display: inline-block;
    text-align: center;
	
}

.container{
	
	margin: 15% 35% 10% 35%;
	padding: 80px 80px 80px 80px;
	border-width: 5px;
	border-color: black;
	border-style: groove;
	background-color: #6A86A4;
}

.button {
	
	border-radius: 8px;
	color: black;
	text-align: center;
	background-color: silver;	
	
	font-size: 22px;
	font-family: monospace;

	margin-top: 20px;
	margin-left: 20px;
	
	padding: 3% 0% 10% 0%;
	
}

img {
	
	width: 45px;
	height: 45px;


}
	
	
input {

	margin-bottom: 10%;
	width: 250px;
	height: 30px;
}


