body{
	
	position: absolute;
    top: 10%;
    bottom: 50%;
    left: 20%;
    right: 20%;

    margin: auto;
    
    background-color: #C0C0C0;
}


.container{
	
	border: solid 5px;
    box-shadow: 0 4px 8px 0 #0844a4, 0 6px 20px 0 #0844a4;
    
    margin-bottom: 20%;
    
	padding-top: 3%;
	padding-bottom: 10%;
	padding-right: 20px;
	padding-left: 20px;
	  
	background-color: #8cb3d9;
	
}

h2 {
	
	margin-bottom: 5%;
}

.field {
	
	margin-left: 5%;
	margin-bottom: 3%;
	
}

.text{
	
	display: inline-block;
	width: 70%;
	height: 25px;

}


label,img {
	
	width: 37px;
	height: 36px;
}

.button {

	margin-top: 20px;
	margin-left: 35%;
	margin-bottom: 20px;


}

.guardar {
	
	border-radius: 8px;
	color: black;
	padding: 10px 10px;
	margin-right: 10px;
	text-align: center;
	background-color: #629C44;

}

a {
	
	margin-top: 23px;
	margin-right: 35%;
	margin-bottom: 20px;
	
}



.formulario {
	
	padding-left: 50px;

}