body {
	position: absolute;
    top: 10%;
    bottom: 50%;
    left: 20%;
    right: 20%;

    margin: auto;
    
    background-color: #C0C0C0;

}

#general {

    border: solid 5px;
    box-shadow: 0 4px 8px 0 #0844a4, 0 6px 20px 0 #0844a4;
    
    margin-bottom: 20%;
    
	  padding-top: 3%;
	  padding-bottom: 10%;
	  padding-right: 20px;
	  padding-left: 20px;
	  
	  background-color: #8cb3d9;
}

header{
	
	position: relative;
}

img {
	
	float: left;
	margin-right: 25px;
}

#logout{
	
	border-radius: 8px;
	color: black;
	text-align: center;
	background-color: silver;
	
	position: relative;
	left: 80%;
	text-decoration:none;
	
	border: dashed silver;
	
	padding: 10px 15px 10px 15px;
	font-family: monospace;
	font-size: 18px;
	color: black;
	
}
.subtitol {
	
	margin-top: -45px;
	font-size: 20px;
	font-family: Georgia, serif;

}

.Usuarios {
	margin-top: 130px;
}


.titol{
	
	font-size: 30px;
}

#menu {
  position: relative;
  margin-top: 20%;
  float: right;
}


#dropdown {
	width: 100%;
	height: 30px;
	margin-top: 10px;
	background-color: #b6d1fc;
	font-size: 16px;
	font-family: sans-serif;
}


